<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laporan Proposal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('proposal_keluar') }}">Proposal Keluar</a></li>
                <li><a href="laporan_dana_masuk">Laporan Dana Masuk</a></li>
                <li><a href="#">Laporan Keuangan</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Laporan Proposal</p>
    </footer>
</body>
</html>
